@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model List<ChatMessage>

<div class="container mt-5 mb-5">
    <h4 class="text-success text-center mb-4">Chat Messages Table</h4>
    <div>
        
        <a asp-controller="Chatdb" asp-action="AddMessage"><button type="submit" class="btn btn-primary mb-2" style="width: 140px; font-size: 12px">Add Chat Message</button></a>
        
    </div>

    <div class="table-responsive shadow-sm rounded">
        <table id="database_table" class="table table-striped table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Delete Message</th>
                    <th>Message Id</th>
                    <th>Question Message</th>
                    <th>Answer Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ChatMessage cm in Model)
                {
                    <tr>
                        <td>
                            <form action="/Chatdb/DeleteMessage" method="POST">
                                <input type="hidden" name="messageId" value="@cm.MessageId" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        <td>@cm.MessageId</td>
                        <td>@cm.QuestionMessage</td>
                        <td>@cm.AnswerMessage</td>
                    </tr>
                }
            </tbody>
            <tfoot class="table-light">
                <tr>
                    <th>Delete Message</th>
                    <th>Message Id</th>
                    <th>Question Message</th>
                    <th>Answer Message</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<style>
    .table-responsive {
        max-height: 500px;
        overflow-y: auto;
        margin-bottom: 100px;
    }

    #database_table tbody tr:hover {
        background-color: #d1f0d1;
    }

    #database_table th,
    #database_table td {
        white-space: nowrap;
    }
</style>
