<div class="container mt-5" style="margin-bottom: 300px">
    <div class="card shadow-sm" style="margin-top:150px">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Add New Chat Message</h5>
        </div>
        <div class="card-body">
            <form action="/Chatdb/AddMessage" method="POST">
                <div class="d-flex flex-column align-items-center mb-3">
                    <div class="mb-3">
                        <label for="questionMessage" class="form-label">Question Message</label>
                        <input type="text" class="form-control" id="questionMessage" name="questionMessage" style="width:300px;">
                    </div>
                    <div class="mb-3">
                        <label for="answerMessage" class="form-label">Answer Message</label>
                        <input type="text" class="form-control" id="answerMessage" name="answerMessage"
                            style="width:300px;">
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Add Chat Message</button>
            </form>
        </div>
    </div>
</div>
